html {
  font-family: 'Open Sans', sans-serif;
  color: $copy-color;
}

h1 {
  background-color: $primary-color;
  color: $yellow;
  font-size: 2em;
  padding: .5 * $padding;
  border-bottom: pem(1) #999 solid;
}

p {
  padding-bottom: $padding;
}
