header{
	display: flex;
	justify-content: space-between;
	padding: 0.5em 1em 0.5em 1em;
	nav{
		padding-top: 1.1em;
	}
	ul{
		display: flex;
		li{
			padding-right: 0.7em;
			&:last-of-type{
				padding:0;
			}
		}
	}
	h1{
		color: $myblue;
		font-weight: bold;
		font-size: 3em;
	}
	a{
		text-decoration: none;
		color: $mygrey;
		font-size: 1.2em;
		&:hover{
			transition: all 0.7s;
			color: $myblue;
			border-bottom: 2px solid $myblue;
		}
	}
}
